.commentArticleId {
    display: none;
}

#registerModal {
    width: 800px;
}

#editTextArea {
    display: none;
}

.save {
    display: none;
}

.comment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

.newcomment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

#articleModal {
    padding: 20px;
}

.smallCommentBtn {
    width: 100px;
    height: 35px;
    font-size: 10px;
    display: inline;
}

.tinyComment {
    transform: translate(25px, 0px);
    width: 85px;
    height: 35px;
    background-color: #3B5998;
    border-radius: 20px
}

.tinyCommentBtn {
    transform: translate(10px, 0px);
    width: 75px;
    height: 25px;
}

.smallText {
    display: inline;
    height: 35px;
}

.tinyText {
    width: 75px;
    height: 25px;
    display: inline;
}

#commentArea {
    padding: 10px;
    margin: 10px;
}

#editTitle {
    display: none;
}

#saveButton {
    display: none;
}