.card-text {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.modal_txt {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

#modal_id {
    display: none;
}

.modal_user {
    text-align: center;
}

.innerContent {
    background-color: burlywood;
    border-width: thin;
    border: black;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    /*filter: brightness(120%);*/

}

.contentCard02 {
    padding: 20px;

    /*width: 85%;*/
    margin: auto;
}

.bigContainer {

    background-color: #5bc0de;
    border-radius: 30px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    align-content: center;
    text-align: center;
    /*filter: brightness(85%);*/
    /*filter: sepia(75%);*/
}

.modal_title {
    text-align: center;
}

.modal-body {
    background-color: #46b8da;
    padding: 20px;
    border-radius: 5%;
    margin: 20px;
}

#articleModal {
    /*width: 200%;*/
}

.commentAvatar {
    width: 50px;
    height: 75px;
    display: inline;
}

.commentInfo {
    font-size: 10px;
    background-color: #4CAF50;
}

.commentArticleId {
    display: none;
}

#registerModal {
    width: 800px;
}

#editTextArea {
    display: none;
}

.save {
    display: none;
}

.deleteButton {
    display: none;
}

.comment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px 30px 30px;
    margin-left: 10px;
    display: none;
}

.newcomment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;

}

#articleModal {
    padding: 20px;
}

.smallCommentBtn {
    width: 100px;
    height: 35px;
    font-size: 10px;
    display: inline;
}

.tinyComment {
    transform: translate(25px, 0px);
    width: 85px;
    height: 35px;
    background-color: #3B5998;
    border-radius: 20px
}

.tinyCommentBtn {
    transform: translate(10px, 0px);
    width: 75px;
    height: 25px;
}

.smallText {
    display: inline;
    height: 35px;
}

.tinyText {
    width: 75px;
    height: 25px;
    display: inline;
}

#commentArea {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#editTitle {
    display: none;
}

#saveButton {
    display: none;
}